@media {   /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    
    h1 {
        font-weight: 800;
        word-spacing: 5px;
        padding: 20px;
        
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size:20px;
        padding-bottom: 10px;
        line-height: 1.5;
    }
    
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
p { 
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
        
        }
.pullquote
{ 
    font-size: 30px;
    text-align:center;
    font-family: 'Montserrat';
    font-weight: 500;
    padding:30px 30px 30px 10px;
    margin:auto;}
    
    .caption1 {
        padding-bottom: 5px;
    }


    img {
        
        padding-bottom: 10px;
    }   
    
    .leadimage {
        max-width: 100%;
        object-fit: contain;
    }
    
    
    .caption1 {
      font-family: 'Montserrat', sans-serif;
        font-style:italic;
  
    }   
    
    a {
        color:green;
        font-size: 20px;
        text-align: center;
    }

    p.indent {
        text-align: center;
    }
    
    .bolded { font-weight: bold; }
    
    #slideshow {
        
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }
}