#topper {
    background-color: lightyellow;
    background-size:cover;
    font-family: 'Open Sans', sans-serif;
}

h1{
    Font-Family: 'Open Sans', sans-serif;
    Font-weight: bolder;
    color:#672400;
}

h2{
    Font-Family: 'Open Sans', sans-serif;
    Font-weight: lighter;
    color:#672400;
}

#experiencetitle {
    color:#672400;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 bold
}
        
#date{
    font-style: italic;
}

#company{
    font-weight: bold;
}
        
#skills {
    color:#672400;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 bold
}

#educationtitle {
    color:#672400;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 bold
}
        

#headshot {
    width:300px;
    padding:0px;
    margin:20px 0px 20px 40px;
    border-radius: 500px;
    
}
img {
    border: 8px solid;
    color: #672400;
}

p { font-family: 'Open Sans', sans-serif;
    
}
#button {
    background-color:#672400;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    margin:10px;
   
}

body{
    background-color: lightyellow; 
}

#button a {
    color:white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-transform:lowercase;
}


#footer {
    background-color:whitesmoke;
}