@media {

#topper {
    background-color: lightyellow;
    background-size:cover;
    font-family: 'Open Sans', sans-serif;
}

h1{
    Font-Family: 'Open Sans', sans-serif;
    Font-weight: 700;
    color:#672400;
}

@media (min-width:375px) {
    
     h1 {
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    #topper {
        text-align: center;
    }
}
    
    @media (min-width: 992px) {
        
        h1 {
            text-align: left;
        }
        
        h2 {
        text-align: left;
    }
        #topper {
        text-align: left;
    }
    }

h2{
    Font-Family: 'Open Sans', sans-serif;
    Font-weight: lighter;
    color:#672400;
}

.nav a {
font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color:#672400;
    margin: 0px 0px 3px 0px;
}

.nav a:hover {
    color:#672400;
    background-color: navajowhite;
}

#experiencetitle {
    color:#672400;
    font-family: 'Open Sans', sans-serif;
}
        
#date{
    font-style: italic;
}

#title{
    font-weight: 700;
    margin: 0px 0px 3px 0px;
}

#company{
    margin: 0px 0px 3px 0px;
}

        
#skills {
    color:#672400;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 
}

#jobrow {
    margin: 10px 0px 30px 0px;
}
#educationtitle {
    color:#672400;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 
}
        

#headshot {
    width:300px;
    padding:0px;
    margin:20px 0px 20px 40px;
    border-radius: 500px;
    
}
img {
    border: 8px solid;
    color: #672400;
}

ul { font-family: 'Open Sans', sans-serif;
    
}

p { font-family: 'Open Sans', sans-serif;
    
}
#button {
    background-color:#672400;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    margin:10px;
   
}

body{
    background-color: lightyellow; 
}

#button a {
    color:white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-transform:lowercase;
}


#footer {
    background-color:#672400;
    color:white;
    position:absolute;
}
}